body {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.4;
	color: #000;
	overflow-x: hidden;
	height: auto;
}
.background{
	background-image: url(mainback.png);
	height: 769px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: white;
	max-width: 1440px;
	position: relative;
}
.background .container{
	display: grid;
	text-align: center;
	position: relative;
	z-index: 2;
	justify-content: center;
}
.logo{
	display: grid;
	justify-content: center;
	height: 400px;
	padding-top: 10%;
}
.centre{
	height: 280px;
}
.centre h1{
	font-size: 60px;
	font-family: "Bebas Neue", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}
.centre p{
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
}
.down{
	font-size: 14px;
	line-height: 15px;
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .1);
}
.background1 {
	max-width: 1440px;
	margin: 0 auto;
	height: 65px;
	border-bottom: 1px solid #E6E6E6;
}
.background1 .container{
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbarmenu{
	display: flex;
	flex-flow: row nowrap;
}
.navbarmenu ul{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.navbarmenu ul li{
	display: inline-block;
	padding: 14px;
	font-family: ;
}
.navbarmenu ul li a{
	text-decoration: none;
	color: #48555B;
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
 	font-weight: 600;
	font-size: 14px;
}
.story{
	justify-content: center;
	display: grid;
	margin-top: 8%;
}
.story h2{
	font-size: 26px;
}
.navbarmenu ul li a:hover{
	text-decoration: none;
	color: #00A4E5;
	font-size: 14px;
}
.color{
	color: #00A4E5;
}
.wrapper{
	display: grid;
	grid-gap: 2%;
	margin-top: 6%;
	grid-template-columns: 1fr 1fr;
}
.twofrac h3{
	font-size: 25px;
	margin-bottom: 8%;
}
.twofrac p{
	color: #48555B;
	font-size: 13px;
	line-height: 31px;
}
.twofrac{
	height: auto;
}
.twofrac1{
	display: grid;
	padding-top: 5%;
	height: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
	font-style: 24px;
	color: white;
}
.image{
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	height: 224px;
	padding: 6%;
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}
.image1{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 224px;
	padding: 6%;
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}
.image2{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 224px;
	padding: 6%;
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}
.image h3{
	font-weight: 600;
}
.story{
	margin-top: 15%;
}
.image1 h3{
	font-weight: 600;
}
.image2 h3{
	font-weight: 600;
}
.burger{
	display: none;
}
.swipe{
	display: none;
}
.background3{
	padding-top: 5%;
}
.wrapper1{
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;
	grid-gap: 5%;
}
.our2{
	justify-self: end;
}
.our1{
	justify-self: end;
}
.our h2{
	font-style: 18px;
	color: #48555B;
}
.our1 p{
	color: #48555B;
	font-style: 11px;
}
.our2 a{
	background-color: #00A4E5;
	font-size: 13px;
	padding: 11px 40px;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.our2 a:hover{
	background-color: #141A20;
	font-size: 13px;
	transition: 0.7s;
	padding: 11px 40px;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.wrapper2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4%;
}
.docs img{
	margin-bottom: 10%;
	width: 70px;
	height: 75px;
}
.docs h2{
	margin-bottom: 8%;
	font-size: 18px;
	color: #48555B;
}
.docs p{
	color: #48555B;
	font-size: 13px;
}
.docs{
	padding: 7%;
	border: 1px solid #E6E6E6;
	width: 100%;
	height: auto;
}
.background4{
	background-image: url(footerback.png);
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 1%;
	background-position: center;
}
.want{
	margin-top: 13%;
}
.want h2{
	font-size: 30px;
	color: #48555B;
	margin-bottom: 3%;
}
.want a{
	padding: 11px 35px;
	background-color: #00A4E5;
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.want a:hover{
	font-size: 13px;
	padding: 13px 37px;
	animation: ease-out;
	background-color: #141A20;
	transition: 0.9s;
	text-decoration: none;
	color: white;
}
.background5{
	background-color: #171819;
	height: 100px;
	display: grid;
	margin: 0 auto;
	max-width: 1440px;
	align-items: center;
}
.wrapper3{
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	grid-gap: 5%;
}
.newer h3{
	font-size: 22px;
	color: #FFFFFF;
}
.newer1 input{
	width: 250px;
	padding-left: 15px;
	height: 40px;
	display: flex;
	align-items: center;
	border: none;
}
.newer1 input:focus{
	width: 250px;
	outline: none;
	padding-left: 15px;
	height: 40px;
	display: flex;
	align-items: center;
	border: none;
}
.newer1{
	justify-self: start;
}
.newer{
	justify-self: end;
}
.newer1{
	display: flex;
	flex-flow: row nowrap;
}
.newer1 a{
	padding: 10px 60px;
	background-color: #00A4E5;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.newer1 a:hover{
	transition: 0.7s;
	padding: 10px 60px;
	background-color: #00A4E5;
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.background6{
	color: white;
	height: auto;
	padding: 5%;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #141A20;
}
.com ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com1 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com2 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com3 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com4 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com5 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.com img{
	margin-bottom: 15px;
}
.com p{
	opacity: 0.6;
}
.com1 p{
	opacity: 0.6;
}
.com5 p{
	visibility: hidden;
}
.com2 p{
	visibility: hidden;
}
.com3 p{
	visibility: hidden;
}
.com4 p{
	opacity: 0.6;
}
.com5 ul li{
	display: inline-block;
	padding: 5px;
}
.com1 ul li a{
	text-decoration: none;
	color: white;
	opacity: 0.9;
	line-height: 30px;
}
.com2 ul li a{
	text-decoration: none;
	color: white;
	opacity: 0.9;
	line-height: 30px;
}
.com3 ul li a{
	text-decoration: none;
	color: white;
	opacity: 0.9;
	line-height: 30px;
}
.com4 ul li a{
	text-decoration: none;
	color: white;
	opacity: 0.9;
	line-height: 30px;
}
.com5 ul li a{
	text-decoration: none;
	color: white;
	opacity: 0.9;
	line-height: 30px;
}
.wrapper4{
	display: grid;
	grid-gap: 5%;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.footer p{
	text-align: center;
	color: white;
	opacity: 0.7;
	font-size: 11px;
}
.footer {
	margin: 0 auto;
	max-width: 1440px;
	display: grid;
	justify-self: center;
	align-items: center;
	background-color: #171819;
	height: 60px;
	padding-top: 1%;
}
.footer .container{
	display: grid;
	justify-self: center;
	align-items: center;
}
@media (max-width: 1200px){
	.background{
		background-image: url(mainback.png);
		height: 769px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		color: white;
		max-width: 1200px;
		position: relative;
	}
	.our2 a{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 10px 30px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.our2 a:hover{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 10px 30px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.wrapper2{
		display: grid;
		margin-top: 5%;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 4%;
	}
	.wrapper1{
		margin-top: 10%;
	}
}
@media (max-width: 1000px){
	.background{
		background-image: url(mainback.png);
		height: 750px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		color: white;
		max-width: 1000px;
		position: relative;
	}
	.background6{
		height: 500px;
	}
	.wrapper4{
		display: grid;
		grid-gap: 10%;
		grid-template-columns: 2fr 1fr 1fr;
	}
	.twofrac h3{
		font-size: 25px;
		margin-bottom: 3%;
	}
	.twofrac p{
		color: #48555B;
		font-size: 13px;
		line-height: 31px;
	}
	.wrapper{
		display: grid;
		grid-gap: 2%;
		margin-top: 7%;
		grid-template-columns: 1fr;
	}
	.twofrac{
		height: auto;
	}
	.twofrac1{
		display: grid;
		padding-top: 3%;
		height: auto;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5%;
		font-style: 24px;
		color: white;
	}
	.image{
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
		height: 334px;
		padding: 6%;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.image1{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 334px;
		padding: 6%;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.image2{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 334px;
		padding: 6%;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.background2{
		padding: 0;
	}
	.background3{
		padding-top: 10%;
	}
	.wrapper1{
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 5%;
		margin-bottom: 8%;
	}
	.our2{
		justify-self: start;
	}
	.our1{
		justify-self: end;
	}
	.our h2{
		font-style: 18px;
		color: #48555B;
	}
	.our1 p{
		color: #48555B;
		font-style: 11px;
	}
	.our2 a{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.our2 a:hover{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.wrapper2{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 4%;
	}
	.docs img{
		margin-bottom: 10%;
		width: 70px;
		height: 75px;
	}
	.docs h2{
		margin-bottom: 8%;
		font-size: 18px;
		color: #48555B;
	}
	.docs p{
		color: #48555B;
		font-size: 13px;
	}
	.docs{
		padding: 7%;
		border: 1px solid #E6E6E6;
		width: 100%;
		height: auto;
	}
	.background4{
		background-image: url(footerback.png);
		height: 500px;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		max-width: 1000px;
		margin: 0 auto;
		padding-top: 5%;
		background-position: center;
	}
	.want{
		margin-top: 13%;
	}
	.want h2{
		font-size: 30px;
		color: #48555B;
		margin-bottom: 3%;
	}
	.want a{
		padding: 11px 35px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		font-size: 13px;
	}
	.want a:hover{
		font-size: 13px;
		padding: 11px 35px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
	}
}
@media (max-width: 768px){
	.background{
		background-image: url(mainback.png);
		height: 650px;
		pointer-events: none;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		color: white;
		max-width: 768px;
		position: relative;
	}
	.logo{
		display: grid;
		justify-content: center;
		height: 300px;
		padding-top: 10%;
	}
	.centre{
		height: 250px;
	}
	.centre h1{
		font-size: 50px;
		font-family: "Bebas Neue", sans-serif;
  		font-weight: 400;
  		font-style: normal;
	}
	.background6{
		height: 630px;
	}
	.wrapper4{
		display: grid;
		grid-gap: 10%;
		grid-template-columns: 2fr 1fr;
	}
	.com{
		justify-self: center;
	}
	.centre p{
		font-family: "Open Sans", sans-serif;
  		font-optical-sizing: auto;
  		font-weight: <weight>;
  		font-style: normal;
	}
	.down{
		font-size: 14px;
		line-height: 15px;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.navbarmenu .ul{
		display: none;
	}
	.background2{
		padding-left: 0;
		padding-right: 0;
	}
	.burger{
		display: block;
		background-color: transparent;
		border: none;
	}
	.burger:hover{
		color: darkcyan;
		cursor: pointer;
	}
	.burger ion-icon{
		width: 30px;
		height: 25px;
	}
	.swipe{
		display: block;
		background-color: white;
		position: fixed;
		bottom: 0;
		top: 0;
		background-color: whitesmoke;
		transition: 0.5s;
		opacity: 0;
		height: auto;
		margin-top: 500px;
		right: 0;
		width: 310px;
		opacity: 0;
		right: -310px;
		visibility: hidden;
		max-width: 100%;
	}
	.show{
		visibility: visible;
		opacity: 1;
		right: 0;
	}
	.swipeclose{
		border: 0;
		background-color: transparent;
		position: absolute;
		right: 10px;
		top: 20px;
	}
	.swipeclose ion-icon{
		width: 30px;
		opacity: 0.7;
		height: 25px;
	}
	.swipe p{
		margin-left: 20px;
		margin-top: 20px;
	}
	.swipe p a{
		text-decoration: none;
		color: black;
	}
	.swipe p a:hover{
		color: #00A4E5;
	}
	.twofrac h3{
		font-size: 25px;
		margin-bottom: 5%;
	}
	.twofrac p{
		color: #48555B;
		font-size: 13px;
		line-height: 31px;
	}
	.wrapper{
		display: grid;
		grid-gap: 2%;
		margin-top: 7%;
		grid-template-columns: 1fr;
	}
	.twofrac{
		height: auto;
	}
	.twofrac1{
		display: grid;
		padding-top: 5%;
		height: auto;
		grid-template-columns: 1fr;
		grid-gap: 5%;
		justify-content: center;
		font-style: 24px;
		color: white;
	}
	.image{
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		width: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
 		justify-self: center;
	}
	.image1{
		width: 60%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		justify-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.image2{
		width: 60%;
		justify-self: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.background2{
		padding-left: 1%;
		text-align: center;
		padding-right: 1%;
		margin: 0 auto;
	}
	.image h3{
		font-weight: 600;
		font-size: 36px;
	}
	.image1 h3{
		font-weight: 600;
		font-size: 36px;
	}
	.image2 h3{
		font-weight: 600;
		font-size: 36px;
	}
	.background3{
		padding-top: 25%;
		margin-top: 10%;
		text-align: center;
	}
	.wrapper1{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5%;
		margin-bottom: 8%;
	}
	.our2{
		justify-self: center;
	}
	.our1{
		justify-self: center;
	}
	.our h2{
		font-style: 18px;
		color: #48555B;
	}
	.our1 p{
		color: #48555B;
		font-style: 11px;
	}
	.our2 a{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.our2 a:hover{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.wrapper2{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4%;
		padding-top: 8%;
		
	}
	.docs img{
		margin-bottom: 10%;
		width: 70px;
		height: 75px;
	}
	.docs h2{
		margin-bottom: 8%;
		font-size: 18px;
		color: #48555B;
	}
	.docs p{
		color: #48555B;
		font-size: 13px;
	}
	.docs{
		text-align: left;
		padding: 7%;
		justify-self: center;
		border: 1px solid #E6E6E6;
		width: 65%;
		height: auto;
	}
	.background4{
		background-image: url(footerback.png);
		height: 500px;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		max-width: 768px;
		margin: 0 auto;
		padding-top: 30%;
		margin-top: 1%;
		background-position: center;
	}
	.want{
		margin-top: 15%;
	}
	.want h2{
		font-size: 30px;
		color: #48555B;
		margin-bottom: 5%;
	}
	.want a{
		padding: 11px 35px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		font-size: 13px;
	}
	.want a:hover{
		font-size: 13px;
		padding: 11px 35px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
	}
	.background5{
		background-color: #171819;
		height: 160px;
		display: grid;
		margin: 0 auto;
		max-width: 1440px;
		align-items: center;
	}
	.wrapper3{
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		grid-gap: 5%;
	}
	.newer h3{
		font-size: 22px;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	.newer1 input{
		width: 250px;
		padding-left: 15px;
		height: 40px;
		display: flex;
		align-items: center;
		border: 1px solid #979797;
	}
	.newer1{
		justify-self: center;
	}
	.newer{
		justify-self: center;
	}
	.newer1{
		display: flex;
		flex-flow: row nowrap;
	}
	.newer1 a{
		padding: 10px 60px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
	.newer1 a:hover{
		transition: 0.7s;
		padding: 10px 60px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
}
@media (max-width: 480px){
	.background{
		background-image: url(mainback.png);
		height: 769px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		color: white;
		max-width: 1200px;
		position: relative;
	}
	.newer1{
		display: flex;
		flex-flow: row nowrap;
	}
	.newer1 input{
		width: 200px;
		padding-left: 15px;
		height: 40px;
		display: flex;
		align-items: center;
		border: 1px solid #979797;
	}
	.newer1 a{
		padding: 10px 25px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
	.newer1 a:hover{
		transition: 0.7s;
		padding: 10px 60px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		font-size: 13px;
	}
	.twofrac h3{
		font-size: 25px;
		margin-bottom: 5%;
	}
	.twofrac p{
		color: #48555B;
		font-size: 13px;
		line-height: 31px;
	}
	.wrapper{
		display: grid;
		grid-gap: 2%;
		margin-top: 7%;
		grid-template-columns: 1fr;
	}
	.twofrac{
		height: auto;
	}
	.twofrac1{
		display: grid;
		padding-top: 5%;
		height: auto;
		grid-template-columns: 1fr;
		grid-gap: 2%;
		justify-content: center;
		font-style: 24px;
		color: white;
	}
	.image{
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		width: 65%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
 		justify-self: center;
	}
	.image1{
		width: 65%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		justify-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.image2{
		width: 65%;
		justify-self: center;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 384px;
		padding: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Open Sans", sans-serif;
 		font-optical-sizing: auto;
 		font-weight: <weight>;
 		font-style: normal;
	}
	.background2{
		padding-left: 1%;
		text-align: center;
		padding-right: 1%;
		margin: 0 auto;
	}
	.image h3{
		font-weight: 600;
		font-size: 36px;
	}
	.image1 h3{
		font-weight: 600;
		font-size: 36px;
	}
	.image2 h3{
		font-weight: 600;
		font-size: 36px;
	}
	.background3{
		padding-top: 20%;
		margin-top: 10%;
		text-align: center;
	}
	.wrapper1{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5%;
		margin-bottom: 8%;
	}
	.our2{
		justify-self: center;
	}
	.our1{
		justify-self: center;
	}
	.our h2{
		font-style: 18px;
		color: #48555B;
	}
	.our1 p{
		color: #48555B;
		font-style: 11px;
	}
	.our2 a{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.our2 a:hover{
		background-color: #00A4E5;
		font-size: 13px;
		padding: 11px 40px;
		color: #FFFFFF;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	.wrapper2{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4%;
		padding-top: 8%;
		
	}
	.docs img{
		margin-bottom: 10%;
		width: 70px;
		height: 75px;
	}
	.docs h2{
		margin-bottom: 8%;
		font-size: 18px;
		color: #48555B;
	}
	.docs p{
		color: #48555B;
		font-size: 13px;
	}
	.docs{
		padding: 4%;
		text-align: left;
		justify-self: center;
		border: 1px solid #E6E6E6;
		width: 65%;
		height: auto;
	}
	.background4{
		background-image: url(footerback.png);
		height: 500px;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		max-width: 100%;
		margin: 0 auto;
		padding-top: 45%;
		margin-top: 1%;
		background-position: center;
	}
	.want{
		margin-top: 15%;
	}
	.want h2{
		font-size: 30px;
		color: #48555B;
		margin-bottom: 5%;
	}
	.want a{
		padding: 10px 25px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
		font-size: 13px;
	}
	.want a:hover{
		font-size: 13px;
		padding: 10px 25px;
		background-color: #00A4E5;
		text-decoration: none;
		color: white;
	}
	.background6{
		height: 1050px;
		padding-bottom: 15%;
	}
	.wrapper4{
		display: grid;
		grid-gap: 3%;
		text-align: center;
		grid-template-columns: 1fr;
	}
}